<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">
                    O WebApp Roda!? é destinado a um público que não tem condições de possuir
                    um computador de alta potência. Mostrando os requisitos mínimos dos jogos.<br>Pagina da Black &amp; White: http://marcusppfonseca.wix.com/black-and-white&nbsp;
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="section"><div class="container"><div class="row"><div class="col-md-12"><hr></div></div></div></div><div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Black &amp; White</h1>
                <p class="text-center">Empresa Ficticia Engenharia Web</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img src="@Url.Content("~/Content/Images/Marcus.jpg")" class="center-block img-circle img-responsive">
                <h3 class="text-center">Marcus Paulo Pereira</h3>
                <p class="text-center">Desenvolvedor</p>
            </div>
            <div class="col-md-4">
                <img src="@Url.Content("~/Content/Images/BlackWhite.png" )" class="center-block img-circle img-responsive">
                <h3 class="text-center"></h3>
                <p class="text-center">&nbsp;</p>
            </div>
            <div class="col-md-4">
                <img src="@Url.Content("~/Content/Images/Nigga3.jpg")" class="center-block img-circle img-responsive">
                <h3 class="text-center">Matheus Guedes</h3>
                <p class="text-center">Desenvovedor</p>
            </div>
        </div>
    </div>
</div>
