<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish>http://roda.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>roda.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Roda</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Roda</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="RodaContext" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=uaie5cskt7.database.windows.net,1433;Initial Catalog=mvcsqlserver;User ID=otaviopfonseca@uaie5cskt7;Password=D28m12h1;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\RodaContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/RodaModel.csdl|res://*/RodaModel.ssdl|res://*/RodaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=uaie5cskt7.database.windows.net,1433;initial catalog=mvcsqlserver;user id=otaviopfonseca@uaie5cskt7;password=D28m12h1;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="4" Enabled="False">
          <Destination Path="Data Source=uaie5cskt7.database.windows.net,1433;Initial Catalog=mvcsqlserver;User ID=otaviopfonseca@uaie5cskt7;Password=D28m12h1;Application Name=EntityFramework" Name="Data Source=uaie5cskt7.database.windows.net,1433;Initial Catalog=mvcsqlserver;User ID=otaviopfonseca@uaie5cskt7;Password=D28m12h1;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Roda.Web.Models.ApplicationDbContext, Roda.Web" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=uaie5cskt7.database.windows.net,1433;Initial Catalog=mvcsqlserver;User ID=otaviopfonseca@uaie5cskt7;Password=D28m12h1;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RodaContext-Web.config Connection String" />
  </ItemGroup>
</Project>